.DS_Store
.classpath
.project
.settings
target/
out/
template/
image/
/bin/
/classes/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml
*.class
pom.xml
./pom.xml